@model List<Cart>
@{
    ViewData["Title"] = "Order now";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    double? discount = 0;
    double? totalPrice = 0;
    foreach(Cart cart in Model)
    {
        totalPrice += cart.product.price;
    }
}

<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="header pb-8 d-flex align-items-center">
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="">
                                    <h3 style="position: relative;height: 50px;overflow: hidden;top: 50px;">Your Order</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body pt-0">
                        <div class="row">
                        </div>
                        <div class="text-center">
                            <div class="d-flex justify-content-between p-2 mb-4" id="totalAmm" style="background-color: #e1f5fe;">
                                <h5 class="fw-bold mb-0"><del>Discount:</del></h5>
                                <h5 class="fw-bold mb-0">@discount$</h5>
                            </div>
                            <div class="d-flex justify-content-between p-2 mb-4" id="totalAmm" style="background-color: #e1f5fe;">
                                <h5 class="fw-bold mb-0">Total:</h5>
                                <h5 class="fw-bold mb-0">@totalPrice$</h5>
                            </div>
                            <hr class="my-4">
                            <input type="submit" width="100px;" value="Order" class="btn btn-info btn-block btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            

                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Address</label>
                                            <input id="input-address" class="form-control form-control-alternative" value="@ViewBag.user.address" placeholder="House number and street name" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Phone</label>
                                            <input id="input-address" class="form-control form-control-alternative" value="@ViewBag.user.phone" placeholder="Phone number" type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city">City</label>
                                            <input type="text" id="input-city" value="@ViewBag.user.city" class="form-control form-control-alternative" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country">Country</label>
                                            <input type="text" id="input-country" value="@ViewBag.user.country" class="form-control form-control-alternative" placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Postal code</label>
                                            <input type="number" id="input-postal-code" value="@ViewBag.user.postal_code" class="form-control form-control-alternative" placeholder="Postal code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="/css/profile.css">
}