@model User
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="header pb-8 d-flex align-items-center">
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="@Model.image">
                                    <img src="@Model.image" style="position: relative;width: 512px;height: 172px;overflow: hidden;top: 87px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4" style="margin-top: 50px;">
                        <div class="row">
                        </div>
                        <div class="text-center">
                            <h3>
                                @Model.name
                            </h3>
                            <div class="h5 font-weight-300" style="font-size:small">
                                <i class="ni location_pin mr-2"></i>@Model.country  @Model.city
                            </div>
                            <div class="h5 mt-4" style="font-size:small">
                                <i class="ni business_briefcase-24 mr-2"></i>@Model.job_name
                            </div>
                            <hr class="my-4">
                            <p style="font-size:medium">@Model.bio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        @if (ViewBag.isTheUser) 
                        {
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <a href="/order" class="btn btn-info mb-0" style="color:white">My Orders</a>
                                </div>
                            </div>
                        }else
                        {
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4>Profile</h4>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Username</label>
                                            <input type="text" asp-for=username id="input-username" class="form-control form-control-alternative" placeholder="Username" disabled>
                                        
                                            <span asp-validation-for=username></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Email address</label>
                                            @if (ViewBag.isTheUser)
                                            {
                                                <input type="email" asp-for=email id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">
                                                <span asp-validation-for=email></span>
                                            }else
                                            {
                                                <input type="email" asp-for=email id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com" disabled>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">Name</label>
                                            @if (ViewBag.isTheUser)
                                            {
                                                <input type="text" asp-for=name id="input-first-name" class="form-control form-control-alternative" placeholder="Name">
                                                <span asp-validation-for=name></span>
                                            }else
                                            {
                                                <input type="text" asp-for=name id="input-first-name" class="form-control form-control-alternative" placeholder="Name" disabled>
                                            }
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">Age</label>
                                            @if (ViewBag.isTheUser)
                                            {
                                                <input asp-for=age id="input-first-name" class="form-control form-control-alternative" placeholder="Age">
                                            }
                                            else
                                            {
                                                <input asp-for=age id="input-first-name" class="form-control form-control-alternative" placeholder="Name" disabled>
                                            }
                                        </div>
                                    </div>

                                    @if (ViewBag.isTheUser)
                                    {
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Profile photo</label>
                                                <input id="input-address" type="file" accept="img/jpg" name="img" asp-for=image class="form-control form-control-alternative" placeholder="Profile photo">
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <hr class="my-4">
                            
                            @if (ViewBag.isTheUser == true)
                            {
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <input id="input-address" asp-for=address class="form-control form-control-alternative" placeholder="Home Address" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Phone number</label>
                                                <input id="input-address" asp-for=phone class="form-control form-control-alternative" placeholder="Phone number" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-address">Job</label>
                                                <input id="input-address" asp-for=job_name class="form-control form-control-alternative" placeholder="job description" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-city">City</label>
                                                <input type="text" asp-for=city id="input-city" class="form-control form-control-alternative" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-country">Country</label>
                                                <input type="text" asp-for=country id="input-country" class="form-control form-control-alternative" placeholder="Country">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Postal code</label>
                                                @if (ViewBag.isTheUser)
                                                {
                                                    <input type="number" asp-for=postal_code id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">About me</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group focused">
                                        <label>About Me</label>
                                        @if (ViewBag.isTheUser)
                                        {
                                            <textarea rows="4" asp-for=bio class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                                        }
                                    </div>
                                </div>
                                <input type="submit" asp-action="update" asp-controller="user" value="Update" class="btn btn-info" />
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="/css/profile.css">
}